.home {
  background-color: #222;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 125px;
  align-items: center;
}

.home__input {
  outline: none;
  border: none;
  border-bottom: 2px solid white;
  width: 400px;
  height: 48px;
  background: transparent;
  font-size: 24px;
  font-weight: bold;
  margin-top: 48px;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}