.app {
  background-color: #222;
  color: white;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  height: 100%;
  width: 100vw;
  font-family: "Circular";
}

.app__logo {
  transition: height 0.3s ease;
  height: 240px;
  cursor: pointer;
}

.app__logo:hover {
  height: 255px;
}

.app__logo.recording {
  height: 255px;
  animation: logo-spin infinite 5s linear;
}

h1 {
  color: white;
}

@keyframes logo-spin {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-45deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(45deg); }
  100% { transform: rotate(0deg); }
}

// Fonts
@font-face {
  font-family: Circular;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/circular-book.woff2') format('woff2'),
       url('./fonts/circular-book.woff') format('woff');
}

@font-face {
  font-family: Circular;
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/circular-bold.woff2') format('woff2'),
       url('./fonts/circular-bold.woff') format('woff');
}

@font-face {
  font-family: Circular;
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/circular-black.woff2') format('woff2'),
       url('./fonts/circular-black.woff') format('woff');
}
